<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <hr>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, veritatis. Iure soluta, aut illo qui voluptatem sapiente voluptate ratione blanditiis temporibus vel recusandae vero magnam praesentium, officiis, odit obcaecati quia.</p>
    
</body>
</html>